In [ ]:
string = "tststststts"
len(string)

22

In [ ]:
msg = "hello"
name = "kaan"
welcome = msg +  name
print(welcome)

hellokaan

In [ ]:
string = ['K','A','A','N']
print(string[3])

N

In [ ]:
string = ['K','A','A','N']
string[2] = 'C'
print(string)

['K', 'A', 'C', 'N']

In [ ]:
string = 'kaanvardar'
string[1:3] #start from 1st index include it, dont include last index (3)

'aa'

In [ ]:
string = 'kaanvardar'
string[10:0:-2] #10dan geriye -2 azalarak git

'rdana'

In [ ]:
string = "kaanvardar"
string[::2]

'ka'

In [ ]:
x = int(input("enter a number: "))

if(x % 3 == 0) and (x % 2 ==  0):   #ikiside TRUE olursa bu if bloğu çalışır(and)
  print("number can divide 3 also 2")
else:
   print("end")

enter a number: 8
end

In [ ]:
x = int(input("enter a number: "))

if(x % 3 == 0) & (x % 2 ==  0):   #ikiside TRUE olursa bu if bloğu çalışır(&)
  print("number can divide 3 also 2")
else:
   print("end")

enter a number: 8
end

In [ ]:
x = 0

while x<7:
  x = x + 1
  print(x)

1
2
3
4
5
6
7

In [ ]:
x = 0

while x<7:
  x += 1
  print(x)

1
2
3
4
5
6
7

In [ ]:
for i in "hey": #hey 3 elemenali oldugu icin 3 kere gerceklesir
                # 1. iter c = "h"
                # 2. iter c = "e"
                # 3. iter c = "y"
    print(i)

h
e
y

In [ ]:
sum = 0

for i in range(100):
  sum += i

print("total iteration count: " ,i)
print("total sum: " , sum)

total iteration count:  99
total sum:  4950

**WHILE AND FOR DIFFERENCES**

In [ ]:
string = "hey"

for i in "hey":
  print(i)

h
e
y

In [ ]:
string = "hey"
i = 0

while i < len(string):
  i += 1
  print(i)

1
2
3

**---------------------------------------------------------------------------**

# **MEDIUM-HARD DATA STRUCTURES**

**LISTS & ARRAYS**

In [ ]:
notes = [1,2,3,4,5]
notes[3]

4

In [ ]:
list = [1,2,"a","b",True, 4.5, [9,0,6]] #mix type degerleri tutabiliriz

In [ ]:
notes = [1,2,3,4,7,6,8]
notes[0] += 10
print(notes[0])

11

In [ ]:
len(notes)

7

In [ ]:
notes.append(99)  #listenin sonuna ekler
print(notes)

[11, 2, 3, 4, 7, 6, 8, 99]

In [ ]:
notes.extend([88,77,66])  #listenin sonuna birden fazla eleman ekler
print(notes)

[11, 2, 3, 4, 7, 6, 8, 99, 88, 77, 66]

In [ ]:
notes.insert(3,44)        #3. indexe 44 ekle demek fakat shift right yapar SİLMEZ!
print(notes)
print(notes[3])

[11, 2, 44, 44, 4, 7, 6, 8, 99, 88, 77, 66]
44

In [ ]:
notes.remove(2)           #index değil '2' değerini siler
print(notes)

[11, 44, 44, 4, 7, 6, 8, 99, 88, 77, 66]

In [ ]:
notes.count(44)         #'44' listede kaç tane var

2

In [ ]:
a = 2
b = a       #b=2 oluyor fakat b'nin degeri güncellenmiyor. a'nin degerini güncelleniyor o nedenle b ayni kaliyor.

In [ ]:
b

2

In [ ]:
a

2

In [ ]:
a = a + 1

In [ ]:
a

3

In [ ]:
b

2

In [ ]:
arr = [1,2,3]
arr2 = arr.copy()

print(arr)
print(arr2)

[1, 2, 3]
[1, 2, 3]

In [ ]:
arr + arr2      #array concetanation

[1, 2, 3, 1, 2, 3]

In [ ]:
arr = [1,2,3,4,5,6]   #yazdigin indexteki degeri verir
arr
arr.index(4)

3

In [ ]:
arr.reverse()         #reverse'te array guncellenir
arr

[6, 5, 4, 3, 2, 1]

In [ ]:
arr2=[1,2,3,4,5,6]    #slicing ile yaptigimizda guncellenmez
arr2[::-1]

[6, 5, 4, 3, 2, 1]

In [ ]:
arr = [44,45,4,3,76]
SortedArray = sorted(arr)

print(SortedArray)
print(arr)          #original list won't updated

[3, 4, 44, 45, 76]
[44, 45, 4, 3, 76]

In [ ]:
arr = [44,45,4,3,76]
sArray = arr.sort()

print(arr)
print(sArray)       #original list will updated

[3, 4, 44, 45, 76]
None

In [ ]:
mixedArr = ['b','c','a',"1","0.2","9"]
mixedArr.sort()
mixedArr

['0.2', '1', '9', 'a', 'b', 'c']

In [ ]:
x = 10            #tuples CANNOT changed like lists. Immutable
y = 34
tuple = (x,y)

In [ ]:
list = [[1,2,3],[4,5,6]]
list[0][1]

2

In [ ]:
tuple2 = 1,2,3,4  #no paranthesis required
type(tuple2)

tuple

In [ ]:
list = [1,2,4,5,99]
99 in list

True

**DICTIONARY**

In [ ]:
notes = {"deniz":80, "kaan":78, "gizem":50}       #"key1:"value1, "key2":value2 "key3":value3
notes["kaan"]

78

In [ ]:
peoples = {"kaan":{"not":80, "no":731}, "deniz":{"not":100, "no":105}, "gizem":{"not":50, "no":180}}
peoples["deniz"]["no"]

105

In [ ]:
peoples = {"kaan":{"not":80, "no":731}, "deniz":{"not":100, "no":105}, "gizem":{"not":50, "no":180}}
peoples["kaan"]["not"] = peoples["kaan"]["not"] + 90
peoples["kaan"]["not"]

170

In [ ]:
len(peoples)            #total key values

3

In [ ]:
notes = {"deniz":80, "kaan":78, "gizem":50}
notes["mahmut"] = 49
notes

{'deniz': 80, 'kaan': 78, 'gizem': 50, 'mahmut': 49}

In [ ]:
notes = {"deniz":80, "kaan":78, "gizem":50}
del notes["deniz"]
notes

{'kaan': 78, 'gizem': 50}

In [ ]:
notes = {"deniz":80, "kaan":78, "gizem":50}     #key search NOT value
"kaan" in notes

True

**SETS**

In [ ]:
#set2 = {1,2,3,4,5,6,1}           #sets DOES NOT hold duplicate values

**NON-SCALAR FOR**

In [ ]:
notes = [99,54,42,87,23]
for i in notes:
  print(i)

99
54
42
87
23

In [ ]:
notes = [99,54,42,87,23]
t = 0

for e in notes:
  t += e

average = t /len(notes)
print(average)

61.0

In [2]:
t = 0
for i in range(len(notes)):
  t+=notes[i]

average = t / len(notes)
print(average)

61.0

In [5]:
notes = [99,54,42,87,23]

for e in notes:
  print(e)
  e = e + 10
  print(e)
  print(notes)
  print("*******")
print(notes)

99
109
[99, 54, 42, 87, 23]
*******
54
64
[99, 54, 42, 87, 23]
*******
42
52
[99, 54, 42, 87, 23]
*******
87
97
[99, 54, 42, 87, 23]
*******
23
33
[99, 54, 42, 87, 23]
*******
[99, 54, 42, 87, 23]

In [6]:
notes = [99,54,42,87,23]

for i in range(len(notes)):
  notes[i] += 5

print(notes)

[104, 59, 47, 92, 28]

In [8]:
dictionary = {"student_1":[100,99],"student_2":[76,43],"student_3":[46,31]}
for k in dictionary:
  print(k)

print("-*-*-*-*-*-*--*-")

for j in dictionary:
  value = dictionary[j]
  print(value)

student_1
student_2
student_3
-*-*-*-*-*-*--*-
[100, 99]
[76, 43]
[46, 31]

In [9]:
dictionary = {"student_1":[100,99],"student_2":[76,43],"student_3":[46,31]}

for i in dictionary.values():
  print(i)

[100, 99]
[76, 43]
[46, 31]

In [10]:
dictionary = {"student_1":[100,99],"student_2":[76,43],"student_3":[46,31]}

for i,j in dictionary.items():
  print("key is:",i,"value is:",j)

key is: student_1 value is: [100, 99]
key is: student_2 value is: [76, 43]
key is: student_3 value is: [46, 31]

In [12]:
s = "hello,howdy,hru"
s.split(",")

['hello', 'howdy', 'hru']

In [14]:
list = ['hello','howdy','hru']
"/".join(list)

'hello/howdy/hru'

**LIST COMPREHENSION**

In [15]:
squares = []

for i in range(1,11):
  squares.append(i*i)

squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
squares = [j+10 for j in range(1,11)]
squares

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [25]:
def cube(x):
  return x * x * x

odd_squares = []
cubes = [cube(x) for x in range(1,5)]
print(cubes)

print("***")

for e in cubes:
  if e % 2 == 1:
    odd_squares.append(e)

odd_squares

[1, 8, 27, 64]
***

[1, 27]

**SET COMPREHENSIONS**

In [27]:
numbers = [1,2,3,4,5,6,7,1,2]
set_numbers = {s for s in numbers if s in [1,2,3,4,5,6,1,2]}
set_numbers

{1, 2, 3, 4, 5, 6}

**DICTIONARY COMPREHENSIONS**

In [29]:
square_dict = {e:e * e for e in range(1,11)}
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [30]:
square_dict[9]

81

In [32]:
m = [[10,11,12],[13,14],[15,16,17,18]]      #list flattening
new_m = []

for _ in m:
  for e in _:
    new_m.append(e)
    print(e)

10
11
12
13
14
15
16
17
18

**VARIABLE UNPACKING**

In [33]:
x, y = (4,5)
print(x)
print(y)

4
5

In [36]:
x, y , *z = (1,2,5,7,2,6)
print(x)
print(y)
print(z)

1
2
[5, 7, 2, 6]

**ENUMERATE**

In [37]:
list = [(1,2),(10,20)]

for i in list:
  print(i)

(1, 2)
(10, 20)

In [38]:
for j in list:
  x,y = j
  print(x)
  print(y)

1
2
10
20

In [39]:
names = ['phil','claire','micheal','cameron']
for i in names:
  print(i)

phil
claire
micheal
cameron

In [40]:
names = ['phil','claire','micheal','cameron']
for i, e in enumerate(names):
  print(i,".th index:",e)

0 .th index: phil
1 .th index: claire
2 .th index: micheal
3 .th index: cameron

In [41]:
names = ['phil','claire','micheal','cameron']
for i, e in enumerate(names, start=10):
  print(i,".th index:",e)

10 .th index: phil
11 .th index: claire
12 .th index: micheal
13 .th index: cameron

**ZIP**

In [42]:
people = ["student_1","student_2","student_3"]
notes = [90,80,21]

for s, g in zip(people,notes):
  print(s,g)

student_1 90
student_2 80
student_3 21

In [46]:
sell = [35000.00,76300.98,67200.31]
cost = [5676.42,820.11,2116.12]

for s, c in zip(sell,cost):
  profit = s - c
  print(f'total profit: {profit}')

total profit: 29323.58
total profit: 75480.87
total profit: 65084.189999999995

**FUNCTIONS**

In [50]:
def cube(x):
    x * x

a = cube(3)
type(a)

NoneType

In [53]:
def cube(x):
    y = x * x
    return y

a = cube(3)
type(a)
print(a)

9

In [56]:
def square(x):                    #void function example is this
  print(x,"'s square is: ",x*x)

square(3)

3 's square is:  9

**FUNCTION EXPLANATION FOR DEBUGGERS**

In [64]:
def square(x):
  print(x,"'s square is: ",x*x)
  #void function example is this

square(3)

3 's square is:  9

In [65]:
?square

In [63]:
??square

**PRE-DEFINED PARAMETERS**

In [69]:
def hello(end, start="hello"):
  print(start + " " + end)

hello("kaan")

hello kaan

In [72]:
def power(x,y=1):
  return x ** y

x = power(4)
print(x)

power(4,2)

4

16

**PYTHON USES FIRST CLASS FUNCTION**

In [74]:
def func2(x,f):
  return square(x) + 4

def square(x):
  return x**2

func2(3,square)

13

**UNDERSCORE USAGE**

In [80]:
x = 100000000
y = 100_000_000


print(x)
print(y)
print(x-y)
type(x)
type(y)

100000000
100000000
0

int

**F-STRING**

In [81]:
name = "kaan"
f"given name is {name}"

'given name is kaan'

In [83]:
def square(x):
  return x*x

x = 10
f"{x} 's square is {square(x)}]"

"10 's square is 100]"